<!-- <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %> -->

<div class="progress-container">
	<span class="progress-bar" style="width: 0%;"></span>
</div>

<header class="post-header  has-cover ">
	<div class="inner">
		<span class="post-info">
			<span class="post-type">Category</span>
			<span class="post-count">
				<%- partial('post/category') %>
			</span>
		</span>
    <%- partial('post/title', {class_name: 'article-title'}) %>
		<div class="post-meta">
			<div class="post-meta-avatars">
					<figure class="post-meta-avatar avatar">
						<a href="#" class="author-avatar">
								<img class="author-profile-image" src="/images/app_icons/ios/512.png" alt="bozzltron">
						</a>
					</figure>
			</div>
			<h4 class="post-meta-author">bozzltron</h4>
			<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
		</div>
		<div class="post-cover cover" style="transform: translate3d(0px, 0px, 0px);">
			<% if (post.hero){ %>
				<img srcset="<%= post.hero %> 320w,
					<%= post.hero %> 640w,
					<%= post.hero %> 960w,
					<%= post.hero %> 1920w" src="<%= post.hero %>" alt="<%= post.hero_title || post.title %>">
			<% } else { %>
				<img srcset="https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg 320w,
					https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg 640w,
					https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg 960w,
					https://static.ghost.org/v2.0.0/images/welcome-to-ghost.jpg 1920w" src="./article_files/welcome-to-ghost.jpg" alt="Welcome to Ghost">
			<% } %>
	
		</div>
	</div>
</header>

<main class="content" role="main">
	<article class="post tag-getting-started">
		<div class="inner">

			<section class="post-content">
        <% if (post.excerpt && index){ %>
          <%- post.excerpt %>
          <% if (theme.excerpt_link){ %>
            <p class="article-more-link">
              <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        <% } else { %>
          <%- post.content %>
        <% } %>        
			</section>


			<% if (!index){ %>
			<section class="post-footer">

				<div class="post-share">
					<span class="post-info-label">Share</span>
					<a title="Twitter" class="twitter" href="https://twitter.com/share?text=Welcome%20to%20Ghost&amp;url=https://attila.zutrinken.com/welcome/" onclick="window.open(this.href, &#39;twitter-share&#39;, &#39;width=550,height=235&#39;);return false;">
						<i class="icon icon-twitter"></i><span class="hidden">Twitter</span>
					</a>
					<a title="Facebook" class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://attila.zutrinken.com/welcome/" onclick="window.open(this.href, &#39;facebook-share&#39;,&#39;width=580,height=296&#39;);return false;">
						<i class="icon icon-facebook"></i><span class="hidden">Facebook</span>
					</a>
					<a title="LinkedIn" class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://attila.zutrinken.com/welcome//&amp;title=Welcome%20to%20Ghost" onclick="window.open(this.href, &#39;linkedin-share&#39;, &#39;width=930,height=720&#39;);return false;">
						<i class="icon icon-linkedin"></i><span class="hidden">LinkedIn</span>
					</a>
					<a title="Email" class="email" href="mailto:?subject=An%20Honest%20Guide%20to%20San%20Francisco&amp;body=https://astro-ghost.ecko.me/an-honest-guide-to-san-francisco/">
						<i class="icon icon-mail"></i><span class="hidden">Email</span>
					</a>
				</div>

				<aside class="post-tags">
					<span class="post-info-label">Topic</span>
					<%- partial('post/tag') %>
				</aside>

			</section>

      <% if ( post.comments && config.disqus_shortname){ %>
        <section class="post-comments" style="display: none;">
          <a id="show-disqus" class="post-comments-activate">Show Comments</a>
           <div id="disqus_thread"></div>
        </section>
      <% } %>

			<aside class="post-nav">
					<a class="post-nav-prev" href="https://attila.zutrinken.com/the-editor/">
						<section class="post-nav-teaser">
							<i class="icon icon-arrow-right"></i>
							<h2 class="post-nav-title">Writing posts with Ghost ✍️</h2>
							<p class="post-nav-excerpt">Getting started with the editor is simple, with familiar formatting options in a functional toolbar and the ability to add dynamic content seamlessly.…</p>
							<p class="post-nav-meta"><time datetime="10-07-2019">10 Jul 2019</time></p>
						</section>
					</a>
				<div class="clear"></div>
			</aside>

			<% } %>

		</div>
	</article>
</main>