<%- partial('_partial/head') %>
<body>
  <div class="viewport">
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <%- partial('_partial/header', null, {cache: false}) %>
    <%- body %>
    <%- partial('_partial/footer', null, {cache: false}) %>
  </div>
  <%- partial('_partial/after-footer') %>
</body>
</html>